.hero {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("../picture/backGround.png"); /* 替换为你的背景图 */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
    color: white;
}

.hero h2 {
    color: white;
    font-size: 4rem;
    margin-bottom: 10px;
    border: none;
}


.hero p {
    font-size: 1.2rem;
    opacity: 0.9;
    margin-bottom: 30px;
}

nav li a[href=" "]{
color:#ffb400;
}